
<h1>商品一覧</h1>
<%= link_to "商品の追加",new_admin_item_path %>

<% @items.each do |item| %>
 <div>
  <table>
   <tbody>
    <tr>
     <th>商品id</th>
     <th>商品名</th>
     <th>税抜き価格</th>
     <th>ジャンル</th>
     <th>ステータス</th>
    </tr>
    <tr>
     <td><%= item.id %></td>
     <td><%= item.name %></td>
     <td><%= item.tax_excluded_price %></td>
     <td><%= item.genre.name %></td>
     <td>
      <% if item.is_sales_active == true %>
     <p>販売中</p>
    <% else %>
     <p>販売停止中</p>
    <% end %>
     </td>
    </tr>
   </tbody>
  </table>
 </div>
<% end %>


