<h1>配送先登録/一覧</h1>

<%= form_with model:@address, local:true do |f| %>
<div>
  <%= f.label :postal_code,"郵便番号" %>
  <%= f.text_field :postal_code %>
</div>
<div>
  <%= f.label :address,"住所" %>
  <%= f.text_field :address %>
</div>
<div>
  <%= f.label :name,"名前" %>
  <%= f.text_field :name %>
</div>
  <%= f.submit "新規登録" %>
<% end %>
<table>
<th>郵便番号</th>
<th>住所</th>
<th>宛名</th>
<th></th>
  <% @addresses.each do |address| %>
          <tr>
              <td><%= address.postal_code %></td>
              <td><%= address.address %></td>
              <td><%= address.name %></td>
              <td>
                  <%= link_to "編集する",edit_address_path(address) %> 
                  <%= link_to "削除する",address_path(address),method: :delete%> 
              </td>
          </tr>
  <% end %>
</table>
