<%= flash[:no_cart] %>
<% myaddress = current_end_user.postal_code + current_end_user.address + current_end_user.last_name + current_end_user.first_name %>
<h1>注文情報入力</h1>
<%= form_with model:@order, url:orders_confirm_path, local:true do |f| %>
    <h2>支払い方法</h2>
    <%= f.radio_button :payment_method,:credit_card %>
    <%= f.label :payment_method, "クレジットカード" %>
    <%= f.radio_button :payment_method,:bank %>
    <%= f.label :payment_method, "銀行振込" %>
    
    <h2>お届け先</h2>
    <p>ご自身の住所</p>
    <%= f.radio_button :address_option,0 %>
    <%= myaddress %>
    <p>登録済住所から選択</p>
    <%= f.radio_button :address_option,1 %>
    <%= f.collection_select :select_addresses,@select_address,:id,:select_address %>
    <p>新しいお届け先</p>
    <%= f.radio_button :address_option,2 %>
    <%= f.label :postal_code,"郵便番号（ハイフンなし）" %>
    <%= f.text_field :postal_code %>
    <%= f.label :address,"住所" %>
    <%= f.text_field :address %>
    <%= f.label :name,"宛名" %>
    <%= f.text_field :name %>
    <%= f.submit '確認画面へ進む' %>
<% end %>
